<!DOCTYPE html>
<html lang="en-us">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
      
      {{ content }}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-7942429830883405",
          enable_page_level_ads: true
     });
</script>
      {% include page-footer.html %}
<script charset="UTF-8" src="//cdn.sendpulse.com/js/push/e4bfa86c00f36ad05a74028be8876ba5_1.js" async></script>

    </section>

  </body>
</html>
